#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  overflow-x: hidden;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
body{
  background-color:  #11071F;
  
}
.custom-margin {
  margin-left: 16rem;
}
.img-thumbnail {
  background-color: transparent;
  max-width: 56px;
  height: auto;
  border: none;
  border-radius: 10px;
}
.img-mainPhoto {
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
  width: 100%;      
  max-width: 300px; 
  height: auto;     
}
@media (max-width: 576px) {
  .img-mainPhoto {
    max-width: 200px; 
    margin: 0 auto;   
    display: block;
  }
  .img-card {
    max-width: 100px;
    margin: 0 auto;  
    display: block;
  }

  .ellipse {
    bottom: 10px; 
    width: 100px;
    height: 30px;
  }
}
section.container {
  background-color: #11071F;
}
section::before {
  content: "";
  display: block;
  height: 113px;/* alto del navbar */
  margin-top: -76px;   
  visibility: hidden;
  pointer-events: none;
}
.tipografia{
  font-family: 'Preahvihear', 'Times New Roman';
}
.tipografia1{
  font-family: 'Poppins', 'Times New Roman';
}
.tipografia_size{
  font-size: 19px;
   letter-spacing:-0.5px;
}
.tipografia_size1{
  font-size: 50px;
  letter-spacing:0.02em; /* equivale a 2% del font-size */
}

.tipografia_size2{
  font-size: 11px;
  letter-spacing:0.02em; /* equivale a 2% del font-size */
}

.tipografia_size3{
  font-size: 22px;
  letter-spacing:0.02em;
}
.tipografia_size4{
  font-size: 17px;
  letter-spacing:0.02em; /* equivale a 2% del font-size */
}
.tipografia_size5{
  font-size: 21px;
  letter-spacing:0.02em; /* equivale a 2% del font-size */
}
.tipografia_size6{
  font-size: 40px;
  font-weight: 500;      /* semibold */
  letter-spacing:0.02em; /* equivale a 2% del font-size */
}
.tipografia_size7{
  font-size: 26px;
  font-weight: 500;      /* semibold */
}
.tipografia_size8{
  font-size: 10px;
  font-weight: 500;      /* semibold */
}

.tipografia_color1{
  color: #5A24A6;
}
.tipografia_color2{
  color: #ffffff;
}
.tipografia_color3{
  color: #9A5BD9;
}

.elipse {
  position: relative;
  display: inline-block;
  padding: 0.2em 0.1em;
  z-index: 1;
}
.elipse::before {
  content: "";
  position: absolute;
  top: -3px; left: -10px; right: 20px; bottom: -3px;
  border: 1px solid rgba(255, 255, 255, 0.878);
  border-radius: 50% / 50%;
  transform: rotate(-6deg);
  pointer-events: none;
  z-index: -1;
}
.tech-icon-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1.0rem;
  white-space: nowrap;
  transition: opacity 0.3s;
  z-index: 1;
}

.tech-icon-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
#section0{
  margin-top: 133px;
}
.degrade{
  background: 
    linear-gradient(-42deg, #130428 7%, #251043 34%, #38126D 57%, #261045 85%, #190634 100%);
  border-top: 4px solid #693B93; /* trazo */
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}
.img-card {
  max-width: 100%;
  height: auto;
  z-index: 2;
}

.ellipse {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 20px;
  background-color:#444;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.3;
}
.custom-span {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: gray;
  margin-top: 86px;
}
.custom-button{
  background-color:#2C1250;
  border: 1px solid #693B93;
  font-weight: 500;
  border-radius:10px;
}
.custom-toast {
  background-color: #251840;       
  border: 1px solid #693B93;       
  color: #ffffff;                  
  border-radius: 10px;             
  padding: 12px 16px;
  min-width: 300px;

  font-family: 'Poppins', 'Times New Roman';
  box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.custom-toast.show {
  opacity: 1;
  transform: translateY(0);
}

.custom-toast.hide {
  opacity: 0;
  transform: translateY(15px);
}

.toast-body-custom {
  font-size: 16px;
  font-family: 'Poppins', 'Times New Roman';
}
@media (max-width: 768px) {
  .custom-span {
    margin-top: 20px;
  }
}