.Nav{
    font-family: 'Plus Jakarta Sans', sans-serif; 
    font-weight: 500;      /* semibold */
    font-size: 20px;
    letter-spacing: 0.4px;
    background-color:#1A0B2E;
    height: 113px;
    
}
